name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build and push image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest,ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: provide attestation for artefact
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build-and-publish-image]
    permissions:
      id-token: write
    strategy:
      matrix:
        config:
          - chris
    steps:
      - uses: actions/checkout@v6

      - name: log in to k8s
        id: k8s_auth
        uses: omelette-gay/vault-k8s-login-action@v1
        with:
          vault-github-role: github-weight-tracker
          vault-k8s-namespace: weight-tracker
          vault-k8s-role: github-weight-tracker
          vault-server: https://vault.coven.omelette.gay
          k8s-controller-url: https://strix.xdc.omelette.gay:6443
          k8s-controller-ca: |
            -----BEGIN CERTIFICATE-----
            MIIBdjCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
            dmVyLWNhQDE3MzM0NDE5MzkwHhcNMjQxMjA1MjMzODU5WhcNMzQxMjAzMjMzODU5
            WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE3MzM0NDE5MzkwWTATBgcqhkjO
            PQIBBggqhkjOPQMBBwNCAAStSdti1Jm75qbFBu/1/d/KUEr6g8Fv/Ppsq+sd8YNJ
            wzLdW8vlLn4GW9ScVwzkUP6l9uAOSCCtxSkS6LlPmj/xo0IwQDAOBgNVHQ8BAf8E
            BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUku8WL0M88576doqpq+Ie
            mZVIDV4wCgYIKoZIzj0EAwIDRwAwRAIgO+dcJF/aO0G0bRpYwX6sIzSoK4jD809f
            vCyvWCodXqQCIFn+wIsfK9e2QFftm/idiRRRhpqHVcP4F0HUaTuNNsz2
            -----END CERTIFICATE-----

      - name: write kubeconfig out
        run: |
          mkdir ~/.kube
          cat >~/.kube/config <<EOF
          ${{ steps.k8s_auth.outputs.kubeconfig }}
          EOF

      - name: deploy ${{ matrix.config }} config
        run: helm upgrade --install -n weight-tracker
          ${{ matrix.config }}s-weight-tracker ./charts/chriss-weight-tracker/
          --set image.tag=${{ github.sha }}
          -f ./config/${{ matrix.config }}.yml
